/* Code pour les écran de PC */
body
{
    /* reset du CSS */
    margin: 0 ; 
    overflow-x: hidden;
    width: 100vw ; 


}

header
{
    display: flex ; 
    justify-content: space-between ; 
    background-color: white ; 
    height: 150px ; ;
}
nav
{
    display: flex ; 
    justify-content: space-around ; 
    background-color: rgb(2, 120, 175) ;
    position: sticky; 
    top: 0px ; 
}

nav a
{
    /* bouton nav barre */
    display: inline-block ;  /* pour qui soit prit en compte comme un block  */
    text-align: center ; 
    background-color: blue ; 
    padding: 10px ; 
    border-radius: 7px ;
    margin: 5px ;  
    text-decoration: none ; 
    color: white ; 
    /* border: solid red 2px ; juste pour le test */
}

nav a:hover
{
    color: red ; 
}

#area-login
{
    display: flex ; 
    flex-direction : column ; 
    justify-content: space-around ; 
}
main
{
    display: flex ; 
    /* margin: 10px ;  */
    width: 100vw ; 
    margin-top: 0 ; 
    overflow: hidden ; 
    /* margin-top: 20px ;  */
    left: 0px ; 
    
}
.presentation-pv
{
    border: solid red 1px ; 
    padding: 5px ; 
    margin-bottom: 7px ; 
    background-color: lightblue ; 

}
section
{
    /* background-color: green ;  */
    margin: 0em ; 
    width: 100% ; 
}
section h2
{
    text-align: center; 
    text-decoration: underline ; 
}
.photoCarousel
{
    text-align: center ; 
}

aside
{
    background-color: lightblue ; 
    border-radius: 10px ; 
    /* margin : 10em 10px 0px 0px  ;  */ 
    padding: 10px ; 
    /* border: solid green 2px ;  */
    width: 200px ; /* pas top */ 
    position: static ; 
    top:0px ; 
    left: 0px ;
}
article
{
    background-color: lightskyblue ; 
    border-radius: 10px ; 
    margin: 3em ; 
    padding: 10px ; 
    box-shadow: 1em 1em 2em ; 
    

}
img 
{
    max-width: 100% ;
    max-height: 100% ;
    display: inline-block ; 
}

/* Question réponse ( services ) */ 
.question 
{
    text-decoration: underline ; 
}
.answer
{
    font-style: italic ; 
}

