{% extends 'base.html.twig' %}

{% block mainSection %}
<section>
            <h2>C.E –C.H.S.C.T –D.P –D.U.P</h2>

            <q>Des experts de la rédaction réalisent vos procès-verbaux. </q>

            <ul>
                <li>
                    Choisissez le mode d’intervention:
                    
                        Avec la présence d’un rédacteur, 
                        A partir de vos enregistrements. 
                </li>

                <li>
                    Sélectionnez le format de vos procès-verbaux:  
                            transcription,
                            compte-rendu,
                            synthèse,
                            flash. 
                </li>
                <li>Définissez votre délai de livraison. </li>
                <li>Réceptionnez votre P.V au plus tard à la date convenue. </li>
                <li>Continuez à bénéficier de la disponibilité, de l’écoute et des conseils de votre Rédacteur. </li>

            </ul>

        </section>
{% endblock %}

