{% extends 'base.html.twig' %}

{% block mainSection %}
<section class="section-accueil">
    <!-- <img class="photoCarousel" src="images/bureau-with-logo-cahier.png" alt="bureau presentation" />  -->
    <div>
        <span>CSE et organismes assimilés</span>
    </div>
    <div>
        <span>Professionnnels </span>
    </div>
    <div>
        <span>Particuliers</span>
    </div>

</section>
{% endblock %}