{% extends 'base.html.twig' %}

{% block body %}

    <h2>la demande de devis est bien envoyé</h2>

    <p>la demande de devis est bien envoyé, nous vous répondront le plus rapidement possible </p>

{% endblock %}

