<head>
        <meta charset="utf-8" />
    </head>
    
    <body>
       <h1>Vous etes inscrit</h1>

       <p>
           Bonjour {{ user.lastName }}, 
       </p>

       <p>Nous vous confirmons que vous etes bien inscrit sur notre site </p>
    </body>
    