<head>
    <meta charset="utf-8" />
</head>

<body>
    <h1>Test d'envoi de mail </h1>

    <p>Un petit test de rédaction du mail </p>

    <p>Nom  : {{ info.lastnamePeople }}</p>
    <p>Prénom : {{ info.firstnamePeople }}</p>
    <p>Nom de l'entreprise : {{ info.nameEnterprise }}</p>
    <p>le mail : {{ info.mail }}</p>
</body>
